 body{
margin:0 auto;
padding:0;
font:sans-serif;
font-size: 18px;
background-image: url("https://analogaddiction.files.wordpress.com/2013/08/grey-background-for-site11.jpg");
}

/** header, nav, ul,li style for top navigation*/


header{
margin-left:200px;
width:960px;
position: fixed;
}

header h1{
position:fixed;
left:180px;
width: 15%;
height:70px;
margin:20px 100px 0px 100px;
padding: 30px 0px 0px 0px;
text-align: center;
font:"Georgia";
font-size:x-large;
font-weight:bold;
background-color:#0191C8;
overflow:hidden;
color: #fff;
}

header nav{
width: 25%;
margin:10px 10px 0px 10px;
position:absolute;
left:550px;
top:40px;
text-align:center;
color:#777777;
padding:10px;

}

header nav ul{
position:fixed;
list-style-type: none;
margin: 0px 0px 0px 110px;
padding:0px;
}
header nav ul li{
display:inline;
margin:0px;
padding:5px 10px 5px 10px;
font-weight:bold;
border-style:outset;
background-color: #eeeeee;;
}


.maincontact{
position:fixed;
top:100px;
margin-left:200px;
width:960px;
height:75%;
background-color:#eeeeee;
border:#dddddd 1px solid;
overflow:auto;
}
.sectioncontact{
position:fixed;
width:450px;
margin:50px 50px 50px 100px;
height:350px;
font-variant: small-caps;
color: #666666;
font-variant:small-caps;
font-size:0.75em;
background-color:#ddd;
overflow:hidden;

}
.contact{
font-size: 24px;
font-variant: normal;
color: #0191C8;
font:serif;
font-weight:bold;
padding:20px 10px 10px 10px;
margin:10px 35px 10px 35px;
border-bottom:#eeeeee 2px solid;

}

.section img{
margin:10px 0px 0px 30px;
padding:0px 10px 0px 10px;
float:left;
}

p{
margin:0px 10px 10px 30px;
font-size:14px;
color:#666666;
font:sans-serif;
}

.aside{
position:fixed;
width:270px;
margin:50px 50px 10px 600px;
height:150px;
background-color:#ddd;
overflow:auto;

}
.footer{
margin-left:200px;
height:10px;
width:900px;
border:#666666 1px solid;
border-top:#0191C8 5px solid;
background-color:#666666;
position: fixed;
top:550px;
text-align:center;
color:#fff;
font-size:xx-small;
padding:30px;
}
.clearfix{
clear:both;
display:none;
}
.connectwithme{
margin:5px 15px 5px 20px;
padding:10px 0px 10px 0px;
border-bottom:#eeeeee 2px solid;
font:sans-serif;
font-size:20px;
font-weight:bold;
color:#0191C8;
}
.aside img{
padding:5px;
}
.imgdiv{
margin: 5px 5px 5px 20px;
}


form label{
padding:20px 10px 10px 10px;
margin:10px 35px 10px 35px;
}
 
input[type=text], input[type=Email] {
    width: 80%;
    padding:0px 0px 10px 10px;
    margin:5px 65px 5px 45px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius:4px;
    box-sizing: border-box;
    display:block;
}

textarea{
    width: 80%;
    height:25%;
    padding:0px 0px 10px 10px;
    margin:5px 65px 5px 45px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius:4px;
    box-sizing: border-box;
    display:block;
    overflow:overlay;

}


input[type=submit] {
    background-color: #0191C8;
    color: white;
    padding:10px 10px 10px 10px;
    margin:10px 35px 10px 45px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    display:block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    width:30%;
    font-variant:small-caps;
    font-size:1em;
}

input[type=submit]:hover {
   
    background-color: #0191C8;
}
